/* reset */

body{
  margin: 0;
  padding: 0;
  background-color: #090A0D;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.coming-soon{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 400;
}
