
*{
  font-family: "Lato", sans-serif;
  margin: 0px;
}

body{
  display: flex;
  flex-direction: column;
  background: #000022;
}

.hero{
  font-family: "Lato", sans-serif;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1{
  color: #FBF5F3;
  font-size: 38px;
  margin-top: 10vh;
}

.link-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FBF5F3;
  font-size: 16px;
}

.hero-separator{
  margin: 10px;
  width: 1px;
  height: 25px;
  background-color: #FBF5F3;
}

footer{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FBF5F3;
  font-size: 16px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.pic-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.pic-container p{
  margin-top: 20px;
  color: #FBF5F3;
  font-size: 16px;
}

.responsive-img{
  max-height: 95vh;
  max-width: 95vw;
  border-radius: 2px;
}

.button{
  border: 1px;
  border-color: #FBF5F3;
  border-style: solid;
  border-width: 1px;
  color: #FBF5F3;
  text-decoration: none;
  font-size: 14px;
  background: #000022;
  padding: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.33s;
  border-radius: 50px;
}

.button:hover{
  color: #000022;
  background-color: #FBF5F3CC;
}

.gif-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#original{
  max-width: 200px;
  height: auto;
}
